<div class="row">
    <div class="card p-0 w-100">
        <div class="card-header">
            <strong>{{'cart.title' | translate }}</strong>
            <div class="float-md-right d-flex">
                <div class="input-group-sm">
                    <input type="text" (keyup)="cwstable._search()" [(ngModel)]="cwstable.search.value"
                        class="form-control" placeholder="{{'search.lblList'|translate}}">
                </div>

            </div>
        </div>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th *ngFor="let col of cwstable.cols" (click)="cwstable._sorting(col.field)"
                            [ngClass]="{ 'sorting' : cwstable.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'hide' : col.show==false }">
                            <div [(ngSwitch)]="col.field">
                                <span *ngSwitchDefault>{{col.title | translate }}</span>
                                <i *ngIf="cwstable.sorting.field==col.field" class="fa"
                                    [ngClass]="{ 'fa-long-arrow-down' : cwstable.sorting.sort=='asc' , 'fa-long-arrow-up' : cwstable.sorting.sort=='desc' }"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of cwstable.data; let i= index" [ngClass]="{'bg-warning': !item.checked }">
                    <tr>
                        <td *ngFor="let col of cwstable.cols" [ngClass]="{ 'hide' : col.show==false }">
                            <div [(ngSwitch)]="col.field">
                                <span *ngSwitchCase="'index'"> {{i+1}}
                                </span>
                                <span *ngSwitchCase="'code'" style="cursor: pointer;" (click)="onShow(item , i)">
                                    <a href="javascript:;">{{ item.code }}</a>
                                </span>
                                <div *ngSwitchCase="'delivery_status'">
                                    <div class="p-1 dropdown-toggle d-inline-block" data-toggle="dropdown"
                                        style="cursor: pointer;" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false"
                                        [ngClass]="{'text-white': item.delivery_status == 0 || item.delivery_status == 2 }"
                                        [ngStyle]="{'background-color' : item.delivery_status == 0 ? '#dc3545' :( item.delivery_status == 1 ? '#ffe29a': '#1e7e34')  }">
                                        {{ ( item.delivery_status == 0 ? 'status.canceled' : ((item.delivery_status ==
                                        1)?'status.process':'status.done') ) | translate}}
                                    </div>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-item" (click)="onChangeStatus(item, 1)">
                                            {{ 'status.process' | translate }}</div>
                                        <div class="dropdown-item" (click)="onChangeStatus(item, 2)">
                                            {{ 'status.done' | translate }}</div>
                                        <div class="dropdown-item" (click)="onChangeStatus(item, 0)">
                                            {{ 'status.cancel' | translate }}</div>
                                    </div>
                                </div>
                                <span *ngSwitchCase="'delivery_address'">
                                    <div><span class="font-weight-bold">{{ 'lbAddress' | translate }}: </span>{{
                                        item.delivery_address }}</div>
                                    <div><span class="font-weight-bold">{{ 'lblPhone' | translate }}: </span>{{
                                        item.phone }}</div>
                                </span>
                                <span *ngSwitchCase="'date_start'">
                                    {{ item[col.field]| date: 'dd/MM/yyyy' }}
                                </span>
                                <span *ngSwitchCase="'price_total'" class="font-weight-bold text-danger ">
                                    {{ (+item.price_total).toLocaleString('vi') }} đ </span>
                                <span *ngSwitchDefault>{{item[col.field]}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="step ==i" class="border border-primary">

                        <td colspan="7">
                            <table class="table table-hover bg-white">
                                <thead>
                                    <tr>
                                        <th *ngFor="let col of cartItem.cols">
                                            <div [(ngSwitch)]="col.field">
                                                <span *ngSwitchDefault>{{col.title | translate }}</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr *ngFor="let row of cartItem.data  ; let i = index">
                                        <td *ngFor="let col of cartItem.cols"
                                            [ngStyle]="{'width': col.field == 'name' ? '400px' : '' }">
                                            <div [(ngSwitch)]="col.field ">
                                                <div *ngSwitchCase="'index' "> {{i+1}}</div>
                                                <div *ngSwitchCase="'name'" aria-selected="true">
                                                    <div> {{row.name }}</div>
                                                </div>
                                                <div *ngSwitchCase="'images'">
                                                    <img [src]="globals.BASE_API_URL + 'public/products/' + row.images"
                                                        width="50">
                                                </div>
                                                <div *ngSwitchCase="'attribute'">
                                                    <div *ngFor="let k of row.attribute">
                                                        {{ k.name }}: <span class="ml-1">{{ k.value }}</span>
                                                    </div>
                                                </div>
                                                <div *ngSwitchCase="'amount'">
                                                    {{ row.amount | translate}} </div>
                                                <div *ngSwitchCase="'price'">
                                                    <!-- {{ row.price | currency : 'USD' : 'symbol' : '0.0-3'}}  -->
                                                    {{ (+row.price).toLocaleString('vi') }} đ
                                                </div>
                                                <div *ngSwitchDefault>{{row[col.field]}}</div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td colspan="3">
                            <h4>{{ 'cart.InfoCustomer' | translate }}</h4>
                            <div class="">
                                <div class="row">
                                    <div class="col-5 pr-md-0">{{ 'cart.fullName' | translate }}:</div>
                                    <div class="col-7 font-weight-bold">{{infoCustomer.name}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-5 pr-md-0">{{ 'lblPhone' | translate }}:</div>
                                    <div class="col-7 font-weight-bold">{{ infoCustomer.phone }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-5 pr-md-0">{{ 'lblAddress' | translate }}:</div>
                                    <div class="col-7 font-weight-bold">{{infoCustomer.address}}</div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="float-md-left">
                <span>{{ cwstable.settings.first }} - {{ cwstable.settings.last }} of
                    {{ cwstable.settings.total }}</span>
                <span>
                    <a (click)="cwstable._previousnext(false)" style="padding : 3px 5px;">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                    <a (click)="cwstable._previousnext(true)" style="padding : 3px 5px;">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>