<div class="row">
    <div class="col-12">
        <h4>{{ 'FECart.listCart' | translate }}</h4>
        <div class="mt-3" style="overflow-x:auto;">
            <div class="text-center font-weight-bold" *ngIf="!cwstable.data || cwstable.data.length == 0">
                <img src="./assets/img/nocart.png" width="300px" />
                <div>
                    {{'FECart.empty' | translate}}
                </div>
            </div>
            <table class="table table-hover fz11-res" *ngIf="cwstable.data && cwstable.data.length > 0">
                <thead>
                    <tr>
                        <th *ngFor="let col of cwstable.cols" (click)="cwstable._sorting(col.field)"
                            [ngClass]="{ 'sorting' : cwstable.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'hide' : col.show==false }">
                            <div [(ngSwitch)]="col.field">
                                <span *ngSwitchDefault>{{col.title | translate }}</span>
                                <i *ngIf="cwstable.sorting.field==col.field" class="fa"
                                    [ngClass]="{ 'fa-long-arrow-down' : cwstable.sorting.sort=='asc' , 'fa-long-arrow-up' : cwstable.sorting.sort=='desc' }"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cwstable.data">
                        <td *ngFor="let col of cwstable.cols" [ngClass]="{ 'hide' : col.show==false}">
                            <div [(ngSwitch)]="col.field">
                                <span *ngSwitchCase="'code'">
                                    <a class="nav-link fz11-res" [routerLink]="['/chi-tiet-don-hang/',item.code]">
                                        {{item[col.field]}}
                                    </a>
                                </span>
                                <span *ngSwitchCase="'day_start'">
                                    {{item[col.field]| date: 'dd/MM/yyyy' }}
                                </span>
                                <span class="text-danger" *ngSwitchCase="'price_total'">
                                    {{ (+item[col.field]).toLocaleString('vi') }} đ
                                </span>
                                <span *ngSwitchCase="'delivery_status'">
                                    <small class="p-1 "
                                        [ngClass]="item.delivery_status == 1 ? 'text-dark bg-warning' : (item.delivery_status == 2 ? 'text-white bg-success' :'text-white bg-danger') ">
                                        {{((item.delivery_status == 0)?'FEStatus.unused':((item.delivery_status ==
                                        1)?'FEStatus.process':'FEStatus.done')) | translate}}</small>
                                </span>
                                <span *ngSwitchCase="'action'" class='display-action'>
                                    <button class="btn btn-danger btn-sm text-white"
                                        (click)="onRemove(item.id,item.name)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </span>
                                <span *ngSwitchDefault>{{item[col.field]}}</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>