<div class="menu" (clickOutside)="clickOutside()">
    <nav class="navbar navbar-expand-md p-0">
        <ul class="navbar-nav w-100 align-items-center" *ngIf="menu && menu.length > 0">
            <li class="d-flex h-100 nav-item align-items-center" *ngFor="let item of menu">
                <a class="nav-link px-3" [ngClass]="link == item.href ? 'text-danger' :' text-dark'"
                    style="cursor: pointer;" (click)="routerLink(item)">
                    <div class="align-items-center d-flex">
                        <span class="font-weight-500 text-uppercase">{{ item.name }}</span>
                        <i class="fas fa-angle-down ml-2 color-primary" *ngIf="(item.data.length > 0)"></i>
                    </div>
                </a>
                <div id="sub-menu" class="sub-menu" *ngIf="item.data?.length && sub_menu">
                    <ul [id]="'sub-menu-' + item.level">
                        <li class="text-right" *ngFor="let row of item.data; let y = index"
                            [class.active]="isActive === +row.id">
                            <div class="px-4 position-relative" style="padding-top: 12px; padding-bottom: 12px;">
                                <a class="font-weight-bold titleAcitve text-white text-decoration-none"
                                    [routerLink]="['/' + row.href]">
                                    {{ row.name }}
                                </a>
                            </div>
                            <div class="text-left bg-white" [id]="'sub-menu-' + row.level">
                                <div class="px-3 d-inline-block" [ngClass]="'sub-menu-' + r.level"
                                    *ngFor="let r of row.data">
                                    <a class="nav-link pt-0 pb-0" [routerLink]="'/'+r.href" *ngIf="r.type != 1">
                                        <span class="font-weight-500 text-truncate d-block">
                                            {{ r.title && r.title != '' ? r.title : r.name }}
                                        </span>
                                    </a>
                                    <a class="nav-link pt-0 pb-0" [href]="r.href" *ngIf="r.type == 1" target="_blank">
                                        <span class="font-weight-500">
                                            {{ r.title && r.title != '' ? r.title : r.name }}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</div>