<footer>
    <div class="app-footer text-right p-2">
        <small>{{ 'copyright' | translate }}. All rights reserved | Powered by
            <a href="https://chips.vn"
               target="_blank">Chips</a>
        </small>
    </div>
</footer>