<div class="box-white place">
    <div class="container-main">
        <div class="container-fluid">
            <div class="container">
                <div class="row justify-content-center d-flex">
                    <div class="col-md-5 d-none d-md-flex ">
                        <div class="bg-register position-relative"
                            [ngStyle]="{'background-image': 'url(' + data.images + ')'}">
                            <div class="text-center register position-relative">
                                <h2 class="text-white text-uppercase">
                                    {{'FELogin.create' | translate}}
                                </h2>
                                <p class="text-white pb-4" *ngIf="data.description && data.description.length > 0">
                                    {{data.description}}
                                </p>
                                <app-box-button [name]="'FEbtn.login'" [routerLink]="['/dang-nhap']" class="text-white">
                                </app-box-button>
                                <!-- <div class="pt-4">
                                    <app-frmloginfb></app-frmloginfb>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 pl-md-0 ">
                        <div class="form-signup ">
                            <app-fm-signup></app-fm-signup>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>