<form [formGroup]="fm" *ngIf="fm" (submit)='$event.stopPropagation()'>
    <div class="card w-100">
        <div class="card-header">
            <strong>{{ ((id && id !=0)?'customer.titleEdit':'customer.titleAdd') | translate : {name : fm.value.name} }}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label> {{ 'lblName' | translate }}<span class="ml-2" style="color:red">*</span> </label>
                        <input type="text" class="form-control" name="name" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label>{{ 'lblEmail' | translate }}
                            <span class="text-danger pl-2 font-lg">*</span>
                        </label>
                        <input type="email" class="form-control" name="email" formControlName="email">
                        <small *ngIf="!fm.get('email').valid && fm.get('email').touched"
                            style="color:red">{{'message.email' | translate}}</small>
                    </div>

                    <div class="form-group">
                        <label>{{ 'lblPhone' | translate }}
                            <span class="text-danger pl-2 font-lg">*</span>
                        </label>
                        <input type="text" class="form-control" name="phone" formControlName="phone">
                        <small *ngIf="!fm.get('phone').valid && fm.get('phone').touched"
                            style="color:red">{{'message.phone' | translate}}</small>
                    </div>

                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label>{{ 'user.sex' | translate }}</label>
                        <div style="height: 38px;">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="male" name="sex" class="custom-control-input"
                                    formControlName="sex" value="1">
                                <label class="custom-control-label" for="male">{{'user.male' | translate }}</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="female" name="sex" class="custom-control-input"
                                    formControlName="sex" value="0">
                                <label class="custom-control-label" for="female">{{'user.female' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ 'user.birth_date' | translate }}</label>
                        <input type="text" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                            name="birth_date" class="form-control" formControlName="birth_date" bsDatepicker>
                    </div>

                    <div class="form-group">
                        <label>{{ 'lblAddress' | translate }}</label>
                        <input type="text" class="form-control" name="address" formControlName="address"
                            placeholder="{{ 'user.address' | translate }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked" formControlName="status" type="checkbox" name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on"
                        class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' : 'status.off') | translate }}</span>
                </label>
            </div>
            <button type="button" (click)="onSubmit()" [disabled]="!fm.valid" class="btn float-right mr-2"
                [ngClass]="fm.valid ? 'btn-success' :'btn-defaut'">
                {{'btn.save' | translate}}
            </button>
            <button type="button" [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                class="btn btn-primary float-right mr-2">{{'btn.back'| translate }}</button>
        </div>
    </div>
</form>