<div class="text-center">
    <div class="d-inline-block position-relative w-50 py-3" [ngClass]="width > 415 ? 'w-50' : 'w-100' ">
        <h4>{{ 'FECustomer.changePassword' | translate }} </h4>
        <form [formGroup]="fmchangePassword" *ngIf="fmchangePassword">
            <div class="form-group pt-3">
                <div class="d-flex">
                    <input autocomplete="off" [type]="type" class="form-control" aria-hidden="true" name="password"
                        formControlName="password" placeholder="{{'FECustomer.passwordOld' | translate}}">
                    <span (click)="type = type == 'password' ? 'text' : 'password'" id="basic-addon2">
                        <i class="fa" style="    position: absolute;right: 30px; z-index: 2;margin-top: 11px;"
                            [ngClass]="{'fa-eye': type=='password', 'fa-eye-slash': type=='text'}"
                            aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="d-flex">
                    <input autocomplete="off" [type]="type2" class="form-control" aria-hidden="true" name="password_new"
                        formControlName="password_new" placeholder="{{'FECustomer.passwordNew' | translate}}">
                    <span (click)="type2 = type2 == 'password' ? 'text' : 'password'" id="basic-addon2">
                        <i class="fa" style="position: absolute;right: 30px; z-index: 2;margin-top: 11px;"
                            [ngClass]="{'fa-eye': type2=='password', 'fa-eye-slash': type2=='text'}"
                            aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </form>
        <div>
            <button type="button" class="btn btn-success text-right"
                (click)="changePass.confirm()">{{ 'FEbtn.confirm' | translate }}</button>
        </div>
    </div>
</div>